@model EditProjectViewModel
@{
    var projectName = Model.ProjectName;
    var clientId = Model.ClientId;
}


@{
    var statusText = Model.StatusId switch
    {
        1 => "Started",
        2 => "Completed",
        _ => "Unknown"
    };
}


@if (Model != null || !string.IsNullOrEmpty(Model?.Id))
{
    <div id="editProjectModal" class="modal">
        <div class="card">
            <div class="card-header">
                <h3>Edit Project  @projectName</h3>
                <button type="button" class="btn-close" data-type="close" data-target="#editProjectModal"></button>
            </div>

            <div class="card-body">
                <form asp-controller="Projects" asp-action="Update" method="post" enctype="multipart/form-data" novalidate>
                    <input type="hidden" asp-for="Id" />

                    <div class="form-group">
                        <label asp-for="ProjectName"></label>
                        <input asp-for="ProjectName" value="@Model.ProjectName" />
                    </div>

                    <div class="form-group">
                        <label asp-for="ClientId"></label>
                        <select asp-for="ClientId" asp-items="Model.Clients"></select>
                    </div>



                    <div class="form-group">
                        <label asp-for="Description">Project Description</label>
                        <textarea asp-for="Description" class="form-control" rows="6" placeholder="Enter project description..."></textarea>
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>


                    <div class="form-horizontal-group">
                        <div class="form-group">
                            <label asp-for="StartDate" class="form-label"></label>
                            <input asp-for="StartDate" class="form-input" type="date" />
                        </div>
                        <div class="form-group">
                            <label asp-for="EndDate" class="form-label"></label>
                            <input asp-for="EndDate" class="form-input" type="date" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label asp-for="UserId"></label>
                        <select asp-for="UserId" asp-items="Model.Users"></select>
                    </div>


                    <div class="form-group">
                        <label asp-for="Budget" class="form-label">Budget</label>
                        <div class="form-input-extended">
                            <i class="fa-duotone fa-solid fa-dollar-sign"></i>
                            <input asp-for="Budget" class="form-input" type="number" step="0.01" />

                        </div>
                    </div>


                    <div class="form-group">
                        <label asp-for="StatusId">Status</label>
                        <select asp-for="StatusId" class="form-control">
                            <option value="">-- Select status --</option>
                            <option value="1" selected="@(Model.StatusId == 1)">Started</option>
                            <option value="2" selected="@(Model.StatusId == 2)">Completed</option>
                            <option value="3" selected="@(Model.StatusId == 3)">Progress</option>
                        </select>
                        <span asp-validation-for="StatusId" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn btn-submit">Save Edit</button>
                    </div>
                </form>
            </div>

            <div class="card-footer"></div>
        </div>
    </div>

    <script>

        document.addEventListener("DOMContentLoaded", function () {
            document.querySelectorAll('[data-close="true"]').forEach(btn => {
                btn.addEventListener("click", function () {
                    const modalId = btn.getAttribute("data-target");
                    const modal = document.querySelector(modalId);
                    if (modal) {
                        modal.style.display = "none";
                        modal.classList.remove("show");
                    }
                });
            });
        });

    </script>

}
}